/* Common styles for both PC and mobile */

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title {
    font-size: 50px;
    color: #fff;
    animation: fliptitle 2s;
    display: flex; /* Add display flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

@keyframes fliptitle {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.containerInput {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder {
    color: #F1f1f1;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    max-width: 500px; /* Changed to max-width for responsiveness */
    width: 100%; /* Added for responsiveness */
    border-radius: 8px;
    padding: 20px; /* Added for spacing */
}

.main h2 {
    margin: 16px 0;
    font-size: 30px;
}

.main span {
    margin-bottom: 16px;
    font-weight: bold;
}

/* Media query for mobile screens */

@media (max-width: 620px) {
    .title {
        font-size: 60px;
    }

    .main h2 {
        font-size: 28px;
    }

    .main {
        height: auto; /* Adjusted for content height */
    }
}
